pytorch-lightning#2.5.0
datasets#3.4.0
transformers#4.49.0
scikit-learn#1.
tensorboardX#2.6.2
wandb
torchmetrics
matplotlib
seaborn
hydra-core
omegaconf
hydra_colorlog
dvc
onnx
onnxruntime
fastapi#0.115.11
uvicorn#0.34.0
boto3
